<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assignment 6 - Yoana K</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css"></link>
</head>
<body>
    <div id="app">
        <h1>Creating a vue.js app <br> Studio Ghibli Films API</h1>
        <form>
            <input type="text" name="searchQuery" v-model="searchQuery" placeholder="Search by title or description..."/>
            <!--<input type="submit" value="Submit"/>-->
        </form>
        <film-block :style="filmStyle"
            v-for="film in filteredFilms"
            :key="film.id"
            :title="film.title"
            :director="film.director"
            :release_date="film.release_date"
            :description="film.description"
        />
    </div>
    
    <script src="https://unpkg.com/vue@3.0.0"></script>

    <script src="app.js" type="module"></script>
</body>
</html>