body {
    background: #f5f1e6;
    color: #556a5b;
    font-family: 'Oswald', sans-serif;
}

#app {
    margin: 0 auto;
    width: 600px;
    padding-bottom: 40px;
}

.description {
    font-family: Arial, sans-serif;
    font-size: 10pt;
}

.title {
    font-weight: 600;
}

input {
    width: 190px;
    height: 20px;
    background-color: #f5f1e6;
    border: 1px solid #556a5b;
    cursor: pointer;
    font-family: Arial, sans-serif;
    color: #556a5b;
    font-size: 10pt;
    padding: 3px;
    margin-bottom: 10px;
    border-radius: 5px;
}